﻿@{
    ViewBag.Title = "Data Control Management";
}

<div class="jumbotron">
    <h1>Data Management Control</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Reportes</h2>
        <p>
            Reportes de producción filtrados por áreas y rango de fechas con funcionalidad de exportar
            la información y facilitar la manipulación de datos.
        </p>
        <p><a class="btn btn-default" href="#">Ver reportes &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Gráficas</h2>
        <p>Obten información de manera visual para ayudar a tomar la mejor decisión e identificar las áreas de oportunidad.</p>
        <p><a class="btn btn-default" href="#">Ver Gráficas &raquo;</a></p>
    </div>
</div>