﻿<div class="row">

    <div class="panel panel-default col-md-12">
        <div class="panel-body">
            <div class="col-md-3 col-sm-12 col-xs-12 form-group xdisplay_inputx has-feedback">
                <label class="control-label">
                    Fecha Inicial:
                </label>
                <input class="form-control has-feedback-left" id="finicial" name="finicial" placeholder="Fecha Inicial" type="text" value="">
                <span class="field-validation-valid parsley-error" data-valmsg-for="finicial" data-valmsg-replace="true"></span>
                <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                <span id="inputSuccess2Status" class="sr-only">(success)</span>
            </div>

            <div class="col-md-3 col-sm-12 col-xs-12 form-group xdisplay_inputx has-feedback">
                <label class="control-label">
                    Fecha Final:
                </label>
                <input class="form-control has-feedback-left" id="ffinal" name="ffinal" placeholder="Fecha Final" type="text" value="">
                <span class="field-validation-valid parsley-error" data-valmsg-for="ffinal" data-valmsg-replace="true"></span>
                <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                <span id="inputSuccess2Status" class="sr-only">(success)</span>

            </div>

            <div class="col-md-q">
                <label class="control-label">  </label>
                <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                    <label class="control-label">
                        Shop Order:
                    </label>
                    <input class="form-control" id="sord" name="sord" placeholder="Shop Order" type="text" value="">
                </div><br>

                <span class="input-group-btn" style="padding-top: 5px";">
                    <button type="submit" class="btn btn-primary">
                        Buscar
                    </button>
                    <input type="button" value="Exportar" class="btn btn-success" id="exportexcel">
                </span>

               

            </div>

        </div>
    </div>
    <br />
    <br />
</div>

<script type="text/javascript">
    $(function () {
        $('#finicial').datetimepicker({
            format: 'YYYY-MM-DD'
        });
        $('#ffinal').datetimepicker({
            format: 'YYYY-MM-DD'
        });
    })
</script>
