﻿@model IEnumerable<GridExampleMVC.Models.DCM_ReportGeneral_Result>

@{
    ViewBag.Title = "Defectos";
}

<div class="row">
    <div class="col-md-12">
        <div id="list-panel">
            <div class="panel-body">
                <!--<div class="dt-button-collection">
                    <input type="button" id="btnExport" value="Excel" />
                    <a class="btn btn-primary btn-sm" tabindex="0" aria-controls="assets-data-table"><span>PDF</span></a>
                    <a class="btn btn-primary btn-sm" tabindex="0" aria-controls="assets-data-table"><span>Imprimir</span></a><br/> <br/>  
                </div>-->
                @using (Html.BeginForm("Defectos", "Reporte", FormMethod.Post))
                {

                    
                    @Html.Partial("_Searchby")

                    <div id="dvData">
                        <table id="assets-data-table" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th class="column-title">@Html.DisplayNameFor(model => model.EnterRegis)</th>
                                    <th class="column-title">@Html.DisplayNameFor(model => model.User)</th>
                                    <th class="column-title">@Html.DisplayNameFor(model => model.Cliente)</th>
                                    <th class="column-title">@Html.DisplayNameFor(model => model.Folio)</th>
                                    <th class="column-title">@Html.DisplayNameFor(model => model.Fecha)</th>
                                    <th class="column-title">@Html.DisplayNameFor(model => model.Turno)</th>
                                    <th class="column-title">@Html.DisplayNameFor(model => model.Divicion)</th>
                                    <th class="column-title">@Html.DisplayNameFor(model => model.Equipo)</th>
                                    <th class="column-title">@Html.DisplayNameFor(model => model.Celda)</th>
                                    <th class="column-title">@Html.DisplayNameFor(model => model.SO_)</th>
                                    <th class="column-title">@Html.DisplayNameFor(model => model.SO__Cant)</th>
                                    <th class="column-title">@Html.DisplayNameFor(model => model.Item)</th>
                                    <th class="column-title">@Html.DisplayNameFor(model => model.Item_Descrip)</th>
                                    <th class="column-title">@Html.DisplayNameFor(model => model.Categoria)</th>
                                    <th class="column-title">@Html.DisplayNameFor(model => model.Responsable)</th>
                                    <th class="column-title">@Html.DisplayNameFor(model => model.Cod_Def)</th>
                                    <th class="column-title">@Html.DisplayNameFor(model => model.FamDefecto)</th>
                                    <th class="column-title">@Html.DisplayNameFor(model => model.Descripcion_de_Defecto)</th>
                                    <th class="column-title">@Html.DisplayNameFor(model => model.Cant_Def)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.EnterRegis)</td>
                                        <td>@Html.DisplayFor(modelItem => item.User)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Cliente)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Folio)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Fecha)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Turno)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Divicion)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Equipo)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Celda)</td>
                                        <td>@Html.DisplayFor(modelItem => item.SO_)</td>
                                        <td>@Html.DisplayFor(modelItem => item.SO__Cant)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Item)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Item_Descrip)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Categoria)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Responsable)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Cod_Def)</td>
                                        <td>@Html.DisplayFor(modelItem => item.FamDefecto)</td>
                                        <td>@Html.DisplayFor(model => item.Descripcion_de_Defecto)</td>
                                        <td>@Html.DisplayFor(model => item.Cant_Def)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                        <div id="menu2" class="tab-pane fade">
                            
                            <p>Some content in menu 2.</p>
                        </div>

                        }
                    </div>
        </div>
    </div>
</div>

@section Scripts
{

<!--Data Tables jQuery-->
    
 <script type="text/javascript">
     $(document).ready(function () {
         $('#assets-data-table').DataTable({
             paging: false,
             info: false,
             "language": {
                 "lengthMenu": "Mostrando _MENU_ registros por página",
                 "zeroRecords": "No se encontro nada con ese criterio",
                 "infoEmpty": "No hay información disponible",
                 "search": "Buscar en esta lista",
             }

         });
         $('#exportexcel').bind('click', function (e) {
             $('#assets-data-table').tableExport({ type: 'excel', escape: 'false' });
         });
         $('#datetimepicker1').datetimepicker();
     });

</script>   
    
 }