﻿@model IEnumerable<GridExampleMVC.Models.DCM_ReportProductivity_Result>

@{
    ViewBag.Title = "Productividad";
}

<div class="row">
    <div class="col-md-12">
        <div id="list-panel">
            <div class="panel-body">
                @using (Html.BeginForm("Productividad", "Reporte", FormMethod.Post))
                {


                    @Html.Partial("_SearchbyProd")

                    <div id="dvData">
                        <table id="assets-data-table" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th class="column-title">@Html.DisplayNameFor(model => model.ACCUMULATOR)</th>
                                    <th class="column-title">@Html.DisplayNameFor(model => model.DATE)</th>
                                    <th class="column-title">@Html.DisplayNameFor(model => model.USER)</th>
                                    <th class="column-title">@Html.DisplayNameFor(model => model.AREA)</th>
                                    <th class="column-title">@Html.DisplayNameFor(model => model.CUSTOMER)</th>
                                    <th class="column-title">@Html.DisplayNameFor(model => model.SHIFT)</th>
                                    <th class="column-title">@Html.DisplayNameFor(model => model.TIMPE_LINE)</th>
                                    <th class="column-title">@Html.DisplayNameFor(model => model.LINE)</th>
                                    <th class="column-title">@Html.DisplayNameFor(model => model.ID_LINE)</th>
                                    <th class="column-title">@Html.DisplayNameFor(model => model.RESPROD)</th>
                                    <th class="column-title">@Html.DisplayNameFor(model => model.MINDESC)</th>
                                    <th class="column-title">@Html.DisplayNameFor(model => model.START)</th>
                                    <th class="column-title">@Html.DisplayNameFor(model => model.END)</th>
                                    <th class="column-title">@Html.DisplayNameFor(model => model.MINTRA)</th>
                                    <th class="column-title">@Html.DisplayNameFor(model => model.OPREG)</th>
                                    <th class="column-title">@Html.DisplayNameFor(model => model.HRSTRA)</th>
                                    <th class="column-title">@Html.DisplayNameFor(model => model.HRSGAN)</th>
                                    <th class="column-title">@Html.DisplayNameFor(model => model.Cumplimiento)</th>
                                    <th class="column-title">@Html.DisplayNameFor(model => model.Productividad)</th>
                                    <th class="column-title">@Html.DisplayNameFor(model => model.Eficiencia)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.ACCUMULATOR)</td>
                                        <td>@Html.DisplayFor(modelItem => item.DATE)</td>
                                        <td>@Html.DisplayFor(modelItem => item.USER)</td>
                                        <td>@Html.DisplayFor(modelItem => item.AREA)</td>
                                        <td>@Html.DisplayFor(modelItem => item.CUSTOMER)</td>
                                        <td>@Html.DisplayFor(modelItem => item.SHIFT)</td>
                                        <td>@Html.DisplayFor(modelItem => item.TIMPE_LINE)</td>
                                        <td>@Html.DisplayFor(modelItem => item.LINE)</td>
                                        <td>@Html.DisplayFor(modelItem => item.ID_LINE)</td>
                                        <td>@Html.DisplayFor(modelItem => item.RESPROD)</td>
                                        <td>@Html.DisplayFor(modelItem => item.MINDESC)</td>
                                        <td>@Html.DisplayFor(modelItem => item.START)</td>
                                        <td>@Html.DisplayFor(modelItem => item.END)</td>
                                        <td>@Html.DisplayFor(modelItem => item.MINTRA)</td>
                                        <td>@Html.DisplayFor(modelItem => item.OPREG)</td>
                                        <td>@Html.DisplayFor(modelItem => item.HRSTRA)</td>
                                        <td>@Html.DisplayFor(modelItem => item.HRSGAN)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Cumplimiento)</td>
                                        <td>@Html.DisplayFor(model => item.Productividad)</td>
                                        <td>@Html.DisplayFor(model => item.Eficiencia)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                    <div id="menu2" class="tab-pane fade">

                        <p>Some content in menu 2.</p>
                    </div>

                }
            </div>
        </div>
    </div>
</div>

@section Scripts
{

    <!--Data Tables jQuery-->

    <script type="text/javascript">
     $(document).ready(function () {
         $('#assets-data-table').DataTable({
             paging: false,
             info: false,
             "language": {
                 "lengthMenu": "Mostrando _MENU_ registros por página",
                 "zeroRecords": "No se encontro nada con ese criterio",
                 "infoEmpty": "No hay información disponible",
                 "search": "Buscar en esta lista",
             }

         });
         $('#exportexcel').bind('click', function (e) {
             $('#assets-data-table').tableExport({ type: 'excel', escape: 'false' });
         });
         $('#datetimepicker1').datetimepicker();
     });

    </script>

}

