﻿@model IEnumerable<GridExampleMVC.Models.DCM_ReportLineProdBETA_Result>

@{
    ViewBag.Title = "Producción en Tiempo Real (Carga 5 minutos)";
}

<div class="row">
    <div class="col-md-12">
        <div id="list-panel">
            <div class="panel-body">

                    <div class="col-md-q">
                        <br />
                        <span class="input-group-btn" style="padding-top: 5px" ;">
                            <input type="button" value="Exportar" class="btn btn-success" id="exportexcel">
                        </span>
                    </div>

                    <div id="dvData">
                        <table id="assets-data-table" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th class="column-title"></th>
                                    <th class="column-title"></th>
                                    <th class="column-title" colspan="2" style="text-align: center;">S.O. Próximo</th>
                                    <th class="column-title"></th>
                                    <th class="column-title" colspan="2" style="text-align: center;">S.O. Actual</th>
                                    <th class="column-title" colspan="3" style="text-align: center;">Productividad Actual</th>
                                    <th class="column-title"></th>
                                    <th class="column-title" colspan="2" style="text-align: center;">Eventos</th>
                                    <th class="column-title" colspan="3" style="text-align: center;">Balance de S.O. Actual</th>
                                    <th class="column-title"></th>
                                </tr>
                                <tr>
                                    <th class="column-title" title="Linea activa que esta trabajando el S.O">@Html.DisplayNameFor(model => model.LINE)</th>
                                    <th class="column-title" title="Area/Cliente">@Html.DisplayNameFor(model => model.AREA)</th>
                                    <th class="column-title" title="Número de Shop Order">@Html.DisplayNameFor(model => model.N_SO_)</th>
                                    <th class="column-title" title="Número de Item">@Html.DisplayNameFor(model => model.N_ITEM)</th>
                                    <th class="column-title" style="width: 92px;">@Html.DisplayNameFor(model => model.TR_N_SO)</th>
                                    <th class="column-title" title="Número de shop order actualmente corriendo" >@Html.DisplayNameFor(model => model.A_SO_)</th>
                                    <th class="column-title" title="Item actualmente corriendo">@Html.DisplayNameFor(model => model.A_ITEM)</th>
                                    <th class="column-title" title="Producción Standard">@Html.DisplayNameFor(model => model.PRODSTD)</th>
                                    <th class="column-title" title="Producción Actual">@Html.DisplayNameFor(model => model.PRODACT)</th>
                                    <th class="column-title" title="Porcentaje de la producción standard">@Html.DisplayNameFor(model => model.PERCENTAGE)</th>
                                    <th class="column-title" title="Cantidad producida actual">@Html.DisplayNameFor(model => model.A_QTY)</th>
                                    <th class="column-title" title="Total de defectos">@Html.DisplayNameFor(model => model.DEFQTY)</th>
                                    <th class="column-title" title="Tiempo muerto acumulado (en minutos)">@Html.DisplayNameFor(model => model.TMMIN)</th>
                                    <th class="column-title" title="Cantidad ideal del S.O.">@Html.DisplayNameFor(model => model.SO_QTY)</th>
                                    <th class="column-title" title="Cantidad total actual">@Html.DisplayNameFor(model => model.GENERAL)</th>
                                    <th class="column-title" title="Diferencia entre cantidad ideal y actual">@Html.DisplayNameFor(model => model.DIFF)</th>
                                    <th class="column-title" title="Estatus de la linea">@Html.DisplayNameFor(model => model.INACTIVE)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.LINE)</td>
                                        <td>@Html.DisplayFor(modelItem => item.AREA)</td>
                                        <td>@Html.DisplayFor(modelItem => item.N_SO_)</td>
                                        <td>@Html.DisplayFor(modelItem => item.N_ITEM)</td>
                                        <td>@Html.DisplayFor(modelItem => item.TR_N_SO)</td>
                                        <td>@Html.DisplayFor(modelItem => item.A_SO_)</td>
                                        <td>@Html.DisplayFor(modelItem => item.A_ITEM)</td>
                                        <td>@Html.DisplayFor(modelItem => item.PRODSTD)</td>
                                        <td>@Html.DisplayFor(modelItem => item.PRODACT)</td>
                                        <td>@Html.DisplayFor(modelItem => item.PERCENTAGE)</td>
                                        <td>@Html.DisplayFor(modelItem => item.A_QTY)</td>
                                        <td>@Html.DisplayFor(modelItem => item.DEFQTY)</td>
                                        <td>@Html.DisplayFor(modelItem => item.TMMIN)</td>
                                        <td>@Html.DisplayFor(modelItem => item.SO_QTY)</td>
                                        <td>@Html.DisplayFor(modelItem => item.GENERAL)</td>
                                        <td>@Html.DisplayFor(modelItem => item.DIFF)</td>
                                        <td>
                                            <div class="led-box">
                                                @if (item.INACTIVE == 1)
                                                {
                                                    <div class="led-red">
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="led-green"></div>
                                                }

                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <!--Data Tables jQuery-->
    <script type="text/javascript">

        $(document).ready(function () {
            var idleInterval = setInterval("reloadPage()", 300000); //5 minutos
            $('#assets-data-table').DataTable({
                paging: false,
                info: false,
                "language": {
                    "lengthMenu": "Mostrando _MENU_ registros por página",
                    "zeroRecords": "No se encontro nada con ese criterio",
                    "infoEmpty": "No hay información disponible",
                    "search": "Buscar en esta lista",
                }

            });
            $('#exportexcel').bind('click', function (e) {
                $('#assets-data-table').tableExport({ type: 'excel', escape: 'false' });
            });
        })

        function reloadPage() {
            location.reload();
        }

    </script>

}